// Responsive Mobile

@media (max-width: 425px) {
  .projects_item {
    flex-direction: column;
    .pjc_container {
      width: auto;
      padding: 10px 10px 0 10px;
      .pjc_image_container {
        .pjc-hover_image {
          display: none;
        }
      }
      .pjc_description {
        height: fit-content;
      }
    }
  }
}
