@media (max-width: 425px) {
  .detail-project-modal_container {
    width: 390px;
  }
}

@media (max-width: 375px) {
  .detail-project-modal_container {
    width: 336px;
  }
}

@media (max-width: 320px) {
  .detail-project-modal_container {
    width: 287px;
  }
}
