.post-flag_content {
  margin-right: 5px;
  height: 100%;
  width: fit-content;
  display: flex;
  list-style: none;
  padding: 0 2px;
  border-radius: 7px;
  background-color: #237522ad;
  .emoji_container,
  .flag-title_container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .emoji_container {
    width: 30px;
    @include Body-XS;
  }
  .flag-title-container {
    width: 75%;
    .flag_title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 100%;
      @include Body-XS;
      padding: 0 4px 0 0;
      color: white;
    }
  }
}
