@media (min-width: 769px) {
  .header_container {
    height: 30px;
    .header_content {
      width: 90%;
      .side-btn_container {
        .color-mode_btn,
        .language-mode_btn {
          height: 20px;
          width: auto;
        }
      }
    }
  }
}
