// Submódulos
@import "./ProjectContainer/project-container";
@import "./PublicationContainer/publication-container";

// SASS MODULE
.projects-view_container {
  width: 90%;
  padding-top: 20px;
  .projects_subtitle {
    @include Subtitle-M;
    color: $title;
  }
}
