@media (max-width: 425px) {
  .text_container {
    height: 125px;
  }
}

@media (max-width: 375px) {
  .text_container {
    height: 132px;
  }
}

@media (max-width: 320px) {
  .text_container {
    height: 153px;
  }
}
