// Colors
$primary: #237522; // Primary color used for buttons and links
$secondary: rgb(214, 91, 19); // Secondary color used for accents
$backgroundColor: #070a11; // Background color for the entire page
$content-backgroundColor: #fff; // Background color for content areas
$font: #37353b; // Main text color
$title: #2b292f; // Title text color
