@media (max-width: 768px) {
  .app-content {
    margin-top: 5%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .app-content {
    margin-top: 6%;
    .logo {
      position: fixed;
      bottom: -28px;
      right: -37px;
      width: 147px;
      height: auto;
    }
  }
}
